.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button.changed {
  background-color: black;
  color: white;
}

fieldset {
  margin: 0 auto;
   width: 60%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  border: 3px solid darkslategray;
  width: 50%;
  margin: 0 auto;
}
th {
  text-decoration: underline;
  font-weight: bold;
}
th, td {
  border: 1px solid grey;
}

input[type="text"] {
  width: 35%;
  margin: 0 10px;
}
